* {
  margin: 0;
  padding: 0;
}

/* ::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

#header-banner {
  width: 100%;
  height: 150px;
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -20px;
}

header {
  width: 100%;
  height: 60px;
  background-color: black;
}

main {
  background-color: white;
}

.home-header {

}

.general-header {
  /* background-color: rgba(0, 0, 0, 0.6); */
  margin-top: -60px;
  position: absolute;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

@media(max-width: 500px) {
  .container {
    width: 95%;
  }
}

.general {
  margin-top: 2em;
}

.logo {
  height: 54px;
  width: 100px;
  float: left;
  padding-top: 3px;
}

nav {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  /* color: #C0C0C0; */
  font-weight: bold;
}

.header-nav {
  float: right;
}

.header-navlist {
  display: flex;
  position: relative;
}

.header-navlist li {
  padding: 18px 7px 7px 0;
}

.welcome {
  height: inherit;
  text-align: center;
}

.greeting {
  color: white;
  font-size: 4em;
  position: relative;
  top: 30%;
}

/* SLIDESHOWS */

.slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 31s infinite;
}

.first {
  background-image: url("images/artwork/ride-of-the-valkyries.jpg");
  background-size: cover;
}

.second {
  background-image: url("images/artwork/Athena.jpg");
  background-size: cover;
}

.third {
  background-image: url("images/Artwork/Buddha.jpg")
}

@keyframes cycleImages {
  15% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.slideshow-item:nth-child(1) {
  animation-delay: 0s;
}

.slideshow-item:nth-child(2) {
  animation-delay: 10s;
}

.slideshow-item:nth-child(3) {
  animation-delay: 20s;
}

.welcome {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  animation: change 31s infinite;
}

@keyframes change {
  0% {
    opacity: 0;
    transform: scale3d(.5, .5, .5);
    /* transform: scaleY(.5, .5, .5); */
    /* transform: scaleX(.5, .5, .5); */
  }
  25% {
    opacity: 1;
    transform: scale3d(2, 2, 2);
    /* transform: scaleY(1, 1, 1); */
    /* transform: scaleX(1, 1, 1); */

  }
}

.slideshow-item:nth-child(1) .welcome {
  animation-delay: 0s;
}

.slideshow-item:nth-child(2) .welcome  {
  animation-delay: 10s;
}

.slideshow-item:nth-child(3) .welcome  {
  animation-delay: 20s;
}

/* END OF SLIDES */


/* WORKS */

.gallery {
  display: grid;
  max-width: 100%;
  min-height: 700px;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 1fr 1fr .2fr .1fr .5fr 1fr 1fr;
  grid-template-areas:
    "one one two two two three three three"
    "one one two two two three three three"
    "one one two two two three three three"
    "one one five five five three three three"
    "four four five five five three three three"
    "four four five five five three three three"
    "four four five five five three three three";
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 550px) {
  .gallery {
    grid-template-columns: 1fr;
    min-height: 3000px;
    grid-auto-rows: 1fr 0.3fr 0.7fr 0.5fr 1fr 0.8fr 0.3fr 1fr 0.7fr;
    grid-template-areas:
      "one"
      "one"
      "two"
      "two"
      "three"
      "three"
      "four"
      "four"
      "five";
  }
}

.gallery a {
  color: white;
  text-decoration: none;
  position: relative;
  text-align: center;

  z-index: 1;
}

.gallery a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity .5s;

  z-index: -1;
}

.gallery a:hover::after {
  opacity: 1;
}

.container a .image-caption {
  opacity: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity .5s;
}

.container a:hover .image-caption {
  opacity: 1;
}

.image-caption-container {
  width: 200px;
  margin: 0 auto;
}

.top-caption {
  border-bottom: 2px solid #adadad;
}

.one {
  background-color: red;
  background-image: url("images/artwork/girl-with-lion-cub.jpg");
  background-size: cover;
  grid-area: one;
  min-height: 370px;
}

.two {
  background-color: orange;
  background-image: url("images/artwork/Athena.jpg");
  background-size: cover;
  grid-area: two;
  min-height: 330px;
}

.three {
  background-color: yellow;
  background-image: url("images/artwork/arrival-at-valhalla.jpg");
  background-size: cover;
  grid-area: three;
  min-height: 330px;
}

.four {
  background-color: green;
  background-image: url("images/artwork/Buddha.jpg");
  background-size: cover;
  grid-area: four;
  min-height: 330px;
}

.five {
  background-color: blue;
  background-image: url("images/artwork/ride-of-the-valkyries.jpg");
  background-size: cover;
  background-position: center;
  grid-area: five;
  min-height: 330px;
}

/* END OF WORKS*/


/* ABOUT */

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 1em;
  color: #C0C0C0;
}

.split {
  display: flex;
  flex-direction: row;
}

.bio {
 padding-left: 1em;
}

@media(max-width: 550px) {
  .split {
    flex-direction: column;
  }

  .profile-pic {
    text-align: center;
  }

  .bio {
    padding-top: 1em;
    padding-left: 0;
  }
}

/* END OF ABOUT */

/* CONTACT */

.contact-info {
  width: 80%;
}

.form-container {
  background-color: blue;
  max-width: 700px;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}


.first-and-last-name {
  display: flex;
}

.first-name-area {
  width: 50%;
}

.last-name-area {
  width: 50%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
}

/* END OF CONTACT */

/* FOOTER */

footer {
  width: 100%;
  background-color: black;
  /* overflow: hidden; */
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.social-media-icons {
  color: white;
  padding: 0.5em 0;
  float: right;
}

.social-media-icons i {
  padding: 0 4px;
}

.social-media-icons i:hover {
  transform: scale(1.1);
}

/* END OF FOOTER */
