* {
  margin: 0;
  padding: 0;
}

/* ::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

#header-banner {
  width: 100%;
  height: 150px;
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -20px;
}

header {
  width: 100%;
  height: 60px;
  background-color: black;
}

.home-header {

}

.general-header {
  /* background-color: rgba(0, 0, 0, 0.6); */
  margin-top: -60px;
  position: absolute;
}

.container {
  width: 80%;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

@media(max-width: 500px) {
  .container {
    width: 95%;
  }
}

.general {
  margin-top: 2em;
}

.logo {
  height: 54px;
  width: 100px;
  float: left;
  padding-top: 3px;
}

nav {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  /* color: #C0C0C0; */
  font-weight: bold;
}

.header-nav {
  float: right;
}

.header-navlist {
  display: flex;
  position: relative;
}

.header-navlist li {
  padding: 18px 7px 7px 0;
}

/* .welcome-page {
  width: 100%;
  height: 100vh;
  position: relative;
} */

.welcome {
  height: inherit;
  text-align: center;
}

.greeting {
  color: white;
  font-size: 4em;
  position: relative;
  top: 30%;
}

.slideshow {
  width: 100%;
  height: 100vh;
  top: 0;
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 31s infinite;
}

.one {
  background-image: url("images/artwork/ride-of-the-valkyries.jpg");
  background-size: cover;
}

.two {
  background-image: url("images/artwork/Athena.jpg");
  background-size: cover;
}

.three {
  background-image: url("images/artwork/Buddha.jpg");
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.slideshow-item:nth-child(1) {
  animation-delay: 0s;
}

.slideshow-item:nth-child(2) {
  animation-delay: 10s;
}

.slideshow-item:nth-child(3) {
  animation-delay: 20s;
}

/* .profile-pic {
  float: left;
  margin-right: 1em;
} */

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 1em;
  color: #C0C0C0;
}

.split {
  display: flex;
  flex-direction: row;
}

.bio {
 padding-left: 1em;
}

@media(max-width: 550px) {
  .split {
    flex-direction: column;
  }

  .profile-pic {
    text-align: center;
  }

  .bio {
    padding-top: 1em;
    padding-left: 0;
  }
}

footer {
  width: 100%;
  background-color: black;
  /* overflow: hidden; */
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.social-media-icons {
  color: white;
  padding: 0.5em 0;
  float: right;
}

i {
  padding: 0 4px;
}

.contact-info {
  width: 80%;
}

.form-container {
  background-color: blue;
  max-width: 700px;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}


.first-and-last-name {
  display: flex;
}

.first-name-area {
  width: 50%;
}

.last-name-area {
  width: 50%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
}
